[defaults]
inventory = hosts/hosts
library = library
module_utils = module_utils
gathering = explicit
callback_whitelist = profile_tasks
localhost_warning = false
interpreter_python = /usr/bin/python3
jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n
callback_plugins=/usr/local/lib/python3.8/dist-packages/ara/plugins/callback
action_plugins=/usr/local/lib/python3.8/dist-packages/ara/plugins/action
lookup_plugins=/usr/local/lib/python3.8/dist-packages/ara/plugins/lookup
verbosity = 3

[ara]
api_client = http
api_server = http://127.0.0.1:8000
